<!-- Site footer -->
<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Hi!<i>This is MUHAMMED YAHYA.</i> I’m an innovative software engineer with 1 year of experience (17 May 2020) managing all aspects of the development process for small to medium-sized companies. Most of my experience has been in e-commerce and retail domain. Have you ever heard about <a href="https://www.odoo.com/">Odoo!</a>,If yes then thats great or you can findout about it by clicking on the given link. Odoo is a framework which I am using for creating ERP sorftwares or website.</p>
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>Stacks or Framworks</h6>
              <ul class="footer-links">
                <li><a href="https://www.python.org/">Python</a></li>
                <li><a href="https://www.djangoproject.com/">Django</a></li>
                <li><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap 4</a></li>
                <li><a href="https://www.javascript.com/">Javascript</a></li>
                <li><a href="https://api.jquery.com/">Ajax(little bit)</a></li>
              </ul>
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://yahyashaikh.com/about/">About</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact</a></li>
                <li><a href="https://github.com/yahyashaikh24/file-drive">Contribute</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">YAHYA SHAIKH</a>.
              </p>
            </div>
    
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="github" href="https://github.com/yahyashaikh24"><i class="fab fa-github"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/yahyashakar/"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/yahya-shaikh-992361175/"><i class="fab fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
    
